IP/IPApp/Connected Services/IPService/IPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IPService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IPService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IP" nillable="true" type="tns:IP" />
  <xs:complexType name="ArrayOfIP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IP" nillable="true" type="tns:IP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIP" nillable="true" type="tns:ArrayOfIP" />
</xs:schema>